.Container{
  display:flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}

.sidebar{
  width:15rem;
  height:100vh;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.content{
  margin-top: 2rem;
}

.selector{
  display: flex;
  margin-left:-21rem;
  margin-top: 1rem;
  width: 100px;
  height: 48px;
  cursor:pointer;
}

.rightSelect{
  padding: 12px 16px 12px 15px;
  width: 37px;
  height: 26px;
  background: whitle;
  border: 1px solid #616161;
  border-radius: 0px 25px 25px 0px;
}

.leftSelect{
  padding: 12px 16px 12px 15px;
  width: 37px;
  height: 26px;
  left: 1351.11px;
  top: 241px;
  background:white;
  border: 1px solid #616161;
  border-radius: 25px 0px 0px 25px;
}

.rightActive{
  padding: 12px 16px 12px 15px;
  width: 37px;
  height: 26px;
  background: #673AB7;
  border: 1px solid #616161;
  border-radius: 0px 25px 25px 0px;
}

.leftActive{
  padding: 12px 16px 12px 15px;
  width: 37px;
  height: 26px;
  left: 1351.11px;
  top: 241px;
  background:#673AB7;
  border: 1px solid #616161;
  border-radius: 25px 0px 0px 25px;
}